.Header {
  position: sticky;
  top: 0;
  height: 10%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 1fr;
  place-items: center;
  background-color: #bc2649;
}

.Header_menuIcon {
  display: inline-block;
  height: 50%;
}

.Header_name {
  margin: 0;
  height: 100%;
  display: flex;
  font-size: 25px;
  text-shadow: 0px 3px 4px gray;
  text-align: center;
  align-items: center;
}
